주어진 데이터는 고혈압 환자 치료 전후의 혈압이다. 해당 치료가 효과가 있는지 대응(쌍체)표본 t-검정을 진행하시오

귀무가설(H0):  μ >= 0

대립가설(H1):  μ < 0

μ = (치료 후 혈압 - 치료 전 혈압)의 평균

유의수준: 0.05

1. μ 의 표본평균은?(소수 둘째자리까지 반올림)

2. 검정통계량 값은?(소수 넷째자리까지 반올림)

3. p-값은?(소수 넷째자리까지 반올림)

4. 가설검정의 결과는? (유의수준 5%)

In [1]:
import pandas as pd
df = pd.read_csv("high_blood_pressure.csv")
df

       Id     sex  age  bp_pre  bp_post
0    p001    Male   33     149      129
1    p002    Male   39     168      168
2    p003    Male   70     176      155
3    p004  Female   41     169      178
4    p005    Male   48     160      126
..    ...     ...  ...     ...      ...
115  p116    Male   70     173      129
116  p117    Male   75     153      157
117  p118  Female   79     156      143
118  p119  Female   40     182      172
119  p120  Female   41     142      168

[120 rows x 5 columns]

In [2]:
before = df['bp_pre']
after = df['bp_post']
print(round(before.mean(), 2), round(after.mean() ,4))

163.65 157.5333

In [3]:
from scipy.stats import ttest_rel

In [4]:
s, p = ttest_rel(before, after, alternative='greater')
print(s, p)

3.0002163948827545 0.0016434474228511028

In [5]:
print(round(p, 4))

0.0016

In [6]:
p < 0.05

True

어떤 특정 약물을 복용한 사람들의 평균 체온이 복용하지 않은 

사람들의 평균 체온과 유의미하게 다른지 검정해보려고 합니다.

가정:

약물을 복용한 그룹과 복용하지 않은 그룹의 체온 데이터가 각각 주어져 있다고 가정합니다.

각 그룹의 체온은 정규분포를 따른다고 가정합니다.

In [7]:
# 귀무 : 약물을 복용한 사람들의 평균 체온이 복용하지 않은 사람들의 평균 체온과 유의미하게 다르지 않다
# 대립: 약물을 복용한 사람들의 평균 체온이 복용하지 않은 사람들의 평균 체온과 유의미하게 다르다

In [8]:
from scipy.stats import ttest_ind

In [9]:
group1 = [36.8, 36.7, 37.1, 36.9, 37.2, 36.8, 36.9, 37.1, 36.7, 37.1]
group2 = [36.5, 36.6, 36.3, 36.6, 36.9, 36.7, 36.7, 36.8, 36.5, 36.7]

In [10]:
s, p = ttest_ind(group1, group2)
print(s, p)

3.7964208654863336 0.001321891476703691

In [11]:
p < 0.05 # 대립가설 채택

True

문제: 다음은 22명의 학생들이 국어시험에서 받은 점수이다. 

학생들의 평균이 75보다 크다고 할 수 있는가?

귀무가설(H0): 모평균은 mu와 같다. (μ = mu), 학생들의 평균은 75이다

대립가설(H1): 모평균은 mu보다 크다. (μ > mu), 학생들의 평균은 75보다 크다

가정:
모집단은 정규분포를 따른다.

표본의 크기가 충분히 크다.

검정통계량, p-value, 검정결과를 출력하시오

In [12]:
from scipy.stats import ttest_1samp

# 데이터
scores = [75, 80, 68, 72, 77, 82, 81, 79, 70, 74, 76, 78, 81, 73, 81, 78, 75, 72, 74, 79, 78, 79]

# 모평균 가설검정
mu = 75  # 검정할 모평균
alpha = 0.05  # 유의수준

In [13]:
# help(ttest_1samp)

In [14]:
s, p = ttest_1samp(scores, popmean=mu, alternative='greater')
print(s, p)

1.765879233231226 0.04597614747709146

In [15]:
# 대립가설(H1): 모평균은 mu보다 크다. (μ > mu), 학생들의 평균은 75보다 크다

세 가지 다른 교육 방법(A, B, C)을 사용하여 

수험생들의 시험 성적을 개선시키는 효과를 평가하고자 한다. 

30명의 학생들을 무작위로 세 그룹으로 배정하여 교육을 실시하였고, 

시험을 보고 성적을 측정하였습니다. 다음은 각 그룹의 학생들의 성적 데이터입니다.

귀무가설(H0): 세 그룹(A, B, C) 간의 평균 성적 차이가 없다.

대립가설(H1 또는 Ha): 세 그룹(A, B, C) 간의 평균 성적 차이가 있다.

일원배치법을 수행하여 그룹 간의 평균 성적 차이가 있는지 검정하세요

f값 (소수 둘째자리)

p값 (소수 여섯째자리)

검정결과 출력

In [16]:
groupA = [85, 92, 78, 88, 83, 90, 76, 84, 92, 87]
groupB = [79, 69, 84, 78, 79, 83, 79, 81, 86, 88]
groupC = [75, 68, 74, 65, 77, 72, 70, 73, 78, 75]

In [17]:
from scipy.stats import f_oneway

In [18]:
# help(f_oneway)

In [19]:
s, p = f_oneway(groupA, groupB, groupC)
print(s, p)

16.884107946026987 1.752985223798021e-05

In [20]:
p < 0.05

True

In [21]:
round(p, 6)

1.8e-05

In [22]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

In [23]:
format(p, '.6f')

'0.000018'

12명의 수험생이 빅데이터 분석기사 시험에서 받은 점수이다. 

Shapiro-Wilk 검정을 사용하여 데이터가 정규 분포를 따르는지 검증하시오

귀무 가설(H0): 데이터는 정규 분포를 따른다.
    
대립 가설(H1): 데이터는 정규 분포를 따르지 않는다.
    
Shapiro-Wilk 검정 통계량, p-value, 검증결과를 출력하시오

In [24]:
data = [75, 83, 81, 92, 68, 77, 78, 80, 85, 95, 79, 89]

In [25]:
from scipy.stats import shapiro
shapiro(data)

ShapiroResult(statistic=0.9768090844154358, pvalue=0.9676500558853149)

In [26]:
# 정규분포를 따른다

iris에서 Sepal Length와 Sepal Width의 상관계수 계산하고 

소수 둘째자리까지 출력하시오

In [27]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

# iris 데이터셋 로드
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
ans = df[['sepal length (cm)', 'sepal width (cm)']].corr().iloc[0,1]
print(round(ans, 2))

-0.12

Pclass, Gender, sibsp, parch를 독립변수로 사용하여 

로지스틱 회귀모형을 실시하였을 때, parch변수의 계수값은?

(반올림하여 소수 셋째 자리까지 계산)

In [28]:
import pandas as pd
df = pd.read_csv("Titanic.csv")
df = df[['Survived', 'Pclass', 'Gender', 'SibSp', 'Parch']]
x=  df.drop(columns = 'Survived')
y = df['Survived']

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
x_new = pd.get_dummies(x)
lr2 = LogisticRegression()
lr2.fit(x_new, y)
round(lr2.coef_[0,2], 3)

-0.044

In [31]:
lr2.coef_

array([[-0.92192738, -0.2285361 , -0.04398284,  1.35286636, -1.35285472]])

In [32]:
x_train = x

In [33]:
x_train['Gender'] = x['Gender'].map({'female' : 1, 'male' : 0})

In [34]:
lr = LogisticRegression()

In [35]:
lr.fit(x_train, y)

LogisticRegression()

In [36]:
round(lr.coef_[0,3], 3)

-0.038

In [37]:
lr.coef_

array([[-0.91565344,  2.65750763, -0.22500289, -0.037963  ]])

### 다른 방법

In [38]:
import pandas as pd
df = pd.read_csv("Titanic.csv")
df = df[['Survived', 'Pclass', 'Gender', 'SibSp', 'Parch']]
x=  df.drop(columns = 'Survived')
x['Gender'] = x['Gender'].map({'female' : 1, 'male' : 0})
y = df['Survived']

In [39]:
import statsmodels.api as sm

x = sm.add_constant(x)
model = sm.Logit(y, x).fit()
summary = model.summary()
summary

Optimization terminated successfully.
         Current function value: 0.459658
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      886
Method:                           MLE   Df Model:                            4
Date:                Thu, 30 Nov 2023   Pseudo R-squ.:                  0.3097
Time:                        14:40:52   Log-Likelihood:                -409.56
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 2.854e-78
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6972      0.243      2.864      0.004       0.220       1.174
Pclass        -0.9392      0.107     -8.815      0.000      -1.148      -0.730
Gender         2.7624      0.195     14.141      0.000       2.379       3.145
SibSp         -0.2340      0.099     -2.359      0.018      -0.428      -0.040
Parch         -0.0503      0.110     -0.455      0.649      -0.267       0.166
==============================================================================
"""

In [40]:
model.params

const     0.697244
Pclass   -0.939161
Gender    2.762364
SibSp    -0.234018
Parch    -0.050260
dtype: float64

In [41]:
np.exp(2.5668)

13.024080628444935

### 문제: 두 교육 방법의 효과 비교
    
연구자는 두 가지 다른 교육 방법이 학생들의 성적에 미치는 영향을 비교하고자 합니다. 

연구자는 무작위로 선발된 20명의 학생들을 두 그룹으로 나누어 한 그룹에는 교육 방법 A를, 

다른 그룹에는 교육 방법 B를 적용합니다. 교육이 끝난 후, 

두 그룹의 성적을 비교하기 위해 독립 표본 t-검정과 ANOVA F-검정을 실시하려고 합니다.

----------------------------------------------------

다음은 두 그룹의 성적입니다: 다음의 두 가지 검정을 사용하여 
    
두 교육 방법 간의 성적 차이가 통계적으로 유의한지를 검증하세요

----------------------------

독립 표본 t-검정을 실시하여 t 통계량을 구하세요.

독립 표본 t-검정을 실시하여 p-값을 구하세요.

ANOVA F-검정을 실시하여 F 통계량을 구하세요.

ANOVA F-검정을 실시하여 p-값을 구하세요.

In [42]:
import pandas as pd
df = pd.DataFrame({
    'A':[77, 75, 82, 80, 81, 83, 84, 76, 75, 87],
    'B':[80, 74, 77, 79, 71, 74, 78, 69, 70, 72],
})

In [53]:
# import scipy.stats
# scipy.stats.__all__

In [46]:
from scipy.stats import chi2_contingency, chisquare, f_oneway, ttest_1samp, ttest_rel, ttest_ind

In [49]:
ttest_ind(df['A'], df['B'])

Ttest_indResult(statistic=3.1068522301122954, pvalue=0.006087373605949963)

In [51]:
# 귀무 : 두 교육 방법 간의 성적 차이가 통계적으로 유의하지 않다 
# 대립 : 두 교육 방법 간의 성적 차이가 통계적으로 유의하다
p<0.05 # 대립 채택

True

ANOVA F-검정 ==  F-검정

In [55]:
# help(f_oneway)

In [56]:
f_oneway(df['A'], df['B'])

F_onewayResult(statistic=9.652530779753763, pvalue=0.006087373605949924)

In [57]:
# 귀무 : 두 교육 방법 간의 성적 차이가 통계적으로 유의하지 않다 
# 대립 : 두 교육 방법 간의 성적 차이가 통계적으로 유의하다
p<0.05 # 대립 채택

True

카이제곱 적합도 검정 - 다시
고등학교에서는 졸업생들이 선택하는 대학 전공 분야의 선호도가 시간이 지남에 따라 변하지 않는다고 가정합니다. 

학교 측은 최근 졸업생들의 전공 선택이 과거와 같은 패턴을 따르는지 알아보기 위해 적합도 검정을 실시하기로 결정했습니다.

과거 자료에 따르면 졸업생들이 선택하는 전공의 분포는 다음과 같습니다:

------------------
인문학: 20% 사회과학: 30% 자연과학: 25% 공학: 15% 기타: 10% 올해 졸업한 학생 200명의 전공 선택 분포는 다음과 같았습니다:

인문학: 30명 사회과학: 60명 자연과학: 50명 공학: 40명 기타: 20명 이 데이터를 바탕으로, 

졸업생들의 전공 선택 패턴이 과거와 유사한지를 알아보기 위해 카이제곱 적합도 검정을 실시해야 합니다. 

유의 수준은 0.05로 설정합니다.

-----------------
검정 통계량?

p-value?

유의수준 하 귀무가설 기각 또는 채택?

In [61]:
# help(chisquare)

In [67]:
df = [30, 60, 50, 40, 20]
exp_df = [(0.2)*200, (0.3)*200, (0.25)*200, (0.15)*200, (0.1)*200]
s, p = chisquare(df, exp_df)
print(s, p)

5.833333333333334 0.21194558437271782

In [68]:
p<0.05

False

지지도, 신뢰도, 향상도

'빼빼로'와 '딴짓초코'가 함께 팔린 거래의 지지도를 계산하세요.

'빼빼로'가 팔린 거래 중에서 '빼빼로'와 '오징어칩'이 함께 팔린 거래의 신뢰도를 계산하세요.

'빼빼로'와 '양조위빵'의 향상도를 계산하세요.

--------
지지도(A,B): A와 B가 함께 팔린 거래 횟수 / 전체 거래 횟수

신뢰도(A->B): A와 B가 함께 팔린 거래 횟수 / A가 팔린 거래 횟수

향상도(A,B): 신뢰도(A->B) / 지지도(B)

In [82]:
import pandas as pd
# 데이터
df = pd.DataFrame({
    'transaction': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    '빼빼로': [1, 0, 1, 1, 0, 1, 1, 0, 1, 1],
    '딴짓초코': [0, 1, 1, 0, 1, 0, 1, 1, 0, 0],
    '양조위빵': [1, 0, 0, 1, 1, 1, 0, 0, 1, 0],
    '오징어칩': [0, 1, 1, 0, 0, 1, 0, 1, 1, 1],
    '초코파이': [1, 1, 0, 0, 1, 0, 1, 1, 0, 0]
})
df

   transaction  빼빼로  딴짓초코  양조위빵  오징어칩  초코파이
0            1    1     0     1     0     1
1            2    0     1     0     1     1
2            3    1     1     0     1     0
3            4    1     0     1     0     0
4            5    0     1     1     0     1
5            6    1     0     1     1     0
6            7    1     1     0     0     1
7            8    0     1     0     1     1
8            9    1     0     1     1     0
9           10    1     0     0     1     0

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   transaction  10 non-null     int64
 1   빼빼로          10 non-null     int64
 2   딴짓초코         10 non-null     int64
 3   양조위빵         10 non-null     int64
 4   오징어칩         10 non-null     int64
 5   초코파이         10 non-null     int64
dtypes: int64(6)
memory usage: 608.0 bytes

In [84]:
df['sum'] = df.sum(axis=1) -df['transaction']
df

   transaction  빼빼로  딴짓초코  양조위빵  오징어칩  초코파이  sum
0            1    1     0     1     0     1    3
1            2    0     1     0     1     1    3
2            3    1     1     0     1     0    3
3            4    1     0     1     0     0    2
4            5    0     1     1     0     1    3
5            6    1     0     1     1     0    3
6            7    1     1     0     0     1    3
7            8    0     1     0     1     1    3
8            9    1     0     1     1     0    3
9           10    1     0     0     1     0    2

In [94]:
len(df[(df['빼빼로'] == 1) & (df['딴짓초코'] == 1)])/10

0.2

문제 2: 빼빼로가 팔린 거래 중 빼빼로와 오징어칩이 함께 팔린 거래의 신뢰도

In [102]:
len(df[(df['빼빼로'] == 1) & (df['오징어칩'] == 1)]) / len(df[df['빼빼로'] == 1])

0.5714285714285714

'빼빼로'와 '양조위빵'의 향상도를 계산하세요. 신뢰도(A->B) / 지지도(B)

빼빼로를 샀을 때 양조위빵을 사는 신뢰도 / 양조위빵과 빼빼로를 동시에 사는 지지도

In [110]:
sin = len(df[(df['빼빼로'] == 1) & (df['양조위빵'] == 1)]) / len(df[df['빼빼로'] == 1])

In [111]:
gigi = len(df[(df['빼빼로'] == 1) & (df['양조위빵'] == 1)]) / len(df)

In [112]:
sin/gigi

1.4285714285714284

### 포아송분포
문제: 한 서점에서는 평균적으로 하루에 3명의 고객이 특정 잡지를 구매합니다. 
    
이 데이터는 포아송 분포를 따른다고 가정할 때, 다음 질문에 대한 답을 구하세요.

하루에 정확히 5명의 고객이 잡지를 구매할 확률은 얼마입니까? (%로 값을 정수로 입력하시오)

하루에 적어도 2명의 고객이 잡지를 구매할 확률은 얼마입니까? (%로 값을 정수로 입력하시오)

In [113]:
from scipy.stats import poisson

In [115]:
# help(poisson)

In [121]:
poisson.pmf(5, 3)

0.10081881344492458

In [128]:
1-poisson.cdf(1, 3)

0.8008517265285442

In [127]:
# from scipy.stats import poisson
# import matplotlib.pyplot as plt
# import numpy as np

# # 평균 사건 발생률 (람다)
# lambda_value = 3

# # 특정 값
# n = 2

# # PMF 계산: P(X = n)
# pmf_result = poisson.pmf(n, lambda_value)

# # CDF 계산: P(X <= n)
# cdf_result = poisson.cdf(n, lambda_value)

# # 그래프 그리기
# x_values = np.arange(0, 10)
# pmf_values = poisson.pmf(x_values, lambda_value)
# cdf_values = poisson.cdf(x_values, lambda_value)

# plt.figure(figsize=(12, 4))

# # PMF 그래프
# plt.subplot(1, 2, 1)
# plt.bar(x_values, pmf_values, color='blue', alpha=0.7)
# plt.title(f'Poisson PMF ($\lambda={lambda_value}$)')
# plt.xlabel('Number of Events')
# plt.ylabel('Probability')
# plt.xticks(x_values)

# # CDF 그래프
# plt.subplot(1, 2, 2)
# plt.plot(x_values, cdf_values, color='green', marker='o', linestyle='-', markersize=8)
# plt.title(f'Poisson CDF ($\lambda={lambda_value}$)')
# plt.xlabel('Number of Events')
# plt.ylabel('Cumulative Probability')
# plt.xticks(x_values)

# plt.tight_layout()
# plt.show()

# # 결과 출력
# print(f'P(X={n}): {pmf_result:.4f}')
# print(f'P(X<={n}): {cdf_result:.4f}')

성별과 시험합격은 독립적인가를 검정하시오!

1 검정 통계량?

2 p-value?

3 귀무가설 기준 (기각/채택)?

4 남자의 합격 기대 빈도?

In [133]:
df = pd.DataFrame({'남자': [100, 200],
                   '여자': [130, 170]},
                  index=['합격', '불합격'])
s, p, _, _ = chi2_contingency(df)
print(s, p)

5.929494712103407 0.01488951060599475

In [135]:
p < 0.05

True

In [138]:
# 독립적이다 - 귀무
# 독립적이지 않다 ->대립 -> 대립 채택

In [137]:
_, _, _, exp = chi2_contingency(df)
print(exp[0][0])

115.0

### 베르누이 분포와 이항분포

[베르누이 분포] 

다음 데이터는 100번의 시도에서 각각 성공(1) 또는 실패(0)를 나타냅니다.

이 데이터를 바탕으로 각 시도의 성공 확률을 계산하시오.

[이항분포] 
1번 문제에서 계산한 성공 확률을 사용하여, 

100번의 시도 중 정확히 60번 성공할 확률을 계산하시오.

In [151]:
import pandas as pd
from scipy.stats import binom

df = pd.read_csv("t3_success.csv")
success = df['Success'].sum()
total = len(df)

In [153]:
exp = success/total
exp

0.62

In [155]:
n = 100
k = 60
binom.pmf(k, n, exp)

0.07464985555860272

binom.pmf(k, n, p) 함수는 이항 분포의 확률 질량 함수(Probability Mass Function, PMF)를 계산하는 데 사용

점 추정과 구간 추정

데이터셋은 어떤 도시의 일일 평균 온도 입니다.

점추정: 데이터셋을 기반으로 이 도시의 평균 연간 온도를 점추정하세요. (반올림하여 소수 둘째자리까지)

구간추정: 95% 신뢰수준에서 이 도시의 평균 연간 온도에 대한 신뢰구간을 구하세요. (반올림하여 소수 둘째자리까지)

In [175]:
import scipy.stats as st

In [176]:
import pandas as pd
df = pd.read_csv("daily_temperatures.csv")
df

     Daily Average Temperature
0                    28.820262
1                    22.000786
2                    24.893690
3                    31.204466
4                    29.337790
..                         ...
360                  23.492286
361                  20.018854
362                  24.659242
363                  21.699825
364                  19.921589

[365 rows x 1 columns]

In [181]:
mu = df['Daily Average Temperature'].mean()
mu

19.937577543978538

In [177]:
se = st.sem(df['Daily Average Temperature'])

In [178]:
n = len(df)
n

365

In [179]:
# import scipy.stats as st
# import numpy as np

# df = len(sample1) - 1 # 자유도 : 샘플 개수 - 1
# mu = np.mean(sample1) # 표본 평균
# se = st.sem(sample1) # 표준 오차

# # 95% 신뢰구간
# st.t.interval(0.95, df, mu, se) # (10.338733110887336, 20.661266889112664)

# # 99% 신뢰구간
# st.t.interval(0.99, df, mu, se) # (8.085277068873378, 22.914722931126622)

In [180]:
st.t.interval(0.95, n-1, mu, se)

(19.427887094620406, 20.44726799333667)

## 다시하기

점 추정과 구간 추정

데이터셋은 어떤 도시의 일일 평균 온도 입니다.

점추정: 데이터셋을 기반으로 이 도시의 평균 연간 온도를 점추정하세요. (반올림하여 소수 둘째자리까지)

구간추정: 95% 신뢰수준에서 이 도시의 평균 연간 온도에 대한 신뢰구간을 구하세요. (반올림하여 소수 둘째자리까지)

In [184]:
import pandas as pd
df = pd.read_csv("daily_temperatures.csv")
df

     Daily Average Temperature
0                    28.820262
1                    22.000786
2                    24.893690
3                    31.204466
4                    29.337790
..                         ...
360                  23.492286
361                  20.018854
362                  24.659242
363                  21.699825
364                  19.921589

[365 rows x 1 columns]

In [185]:
me = df['Daily Average Temperature'].mean()
me

19.937577543978538

In [186]:
import scipy.stats as st

In [188]:
se = st.sem(df['Daily Average Temperature'])

In [189]:
dof = len(df)-1

In [191]:
st.t.interval(0.95, dof, me, se)

(19.427887094620406, 20.44726799333667)