[마케팅] 자동차 시장 세분화

자동차 회사는 새로운 전략을 수립하기 위해 4개의 시장으로 세분화했습니다.

기존 고객 분류 자료를 바탕으로 신규 고객이 어떤 분류에 속할지 예측해주세요!

예측할 값(y): "Segmentation" (1,2,3,4)

평가: Macro f1-score

data: train.csv, test.csv

In [4]:
import pandas as pd

train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
train.nunique()

ID                 6665
Gender                2
Ever_Married          2
Age                  67
Graduated             2
Profession            9
Work_Experience      15
Spending_Score        3
Family_Size           9
Var_1                 7
Segmentation          4
dtype: int64

In [14]:
train.describe()

                 ID          Age  Work_Experience  Family_Size  Segmentation
count    6665.00000  6665.000000      6665.000000  6665.000000   6665.000000
mean   463519.84096    43.536084         2.629107     2.841110      2.542836
std      2566.43174    16.524054         3.405365     1.524743      1.122723
min    458982.00000    18.000000         0.000000     1.000000      1.000000
25%    461349.00000    31.000000         0.000000     2.000000      2.000000
50%    463575.00000    41.000000         1.000000     2.000000      3.000000
75%    465741.00000    53.000000         4.000000     4.000000      4.000000
max    467974.00000    89.000000        14.000000     9.000000      4.000000

In [5]:
test.nunique()

ID                 2154
Gender                2
Ever_Married          2
Age                  67
Graduated             2
Profession            9
Work_Experience      15
Spending_Score        3
Family_Size           9
Var_1                 7
dtype: int64

In [6]:
drop_col = ['ID']
x_train_drop = train.drop(columns = ['ID','Segmentation'])
x_test_drop = test.drop(columns = ['ID'])
y = train['Segmentation']

In [7]:
x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)
x_test_dum = x_test_dum[x_train_dum.columns]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier

In [11]:
x_train.shape, x_val.shape, y_train.shape, y_val.shape

((4998, 28), (1667, 28), (4998,), (1667,))

In [13]:
x_train, x_val, y_train, y_val = train_test_split(x_train_dum, y, stratify=y, random_state=42)
rf = RandomForestClassifier(random_state = 23)
rf.fit(x_train, y_train)
pred = rf.predict(x_val)
f1_score(y_val, pred, average='macro')

0.4862161542799577

In [15]:
test_pred = rf.predict(x_test_dum)
pd.DataFrame({'pred' : test_pred}).to_csv('result16.csv', index = False)
test_df = pd.read_csv('result16.csv')
test_df

      pred
0        1
1        3
2        3
3        3
4        1
...    ...
2149     1
2150     4
2151     2
2152     3
2153     4

[2154 rows x 1 columns]