서비스 이탈예측 데이터

데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)
x_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv
y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv
x_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv
x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_test.csv

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


display(x_train.head())
display(y_train.head())
display(x_test.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15601012,Abdullah,802,France,Female,60,3,92887.06,1,1,0,39473.63
1,15734762,Ignatiev,602,France,Female,56,3,115895.22,3,1,0,4176.17
2,15586757,Anenechukwu,801,France,Female,32,4,75170.54,1,1,1,37898.50
3,15590888,Wade,693,Spain,Female,34,10,107556.06,2,0,0,154631.35
4,15726087,Ch'in,592,France,Female,62,5,0.00,1,1,1,100941.57

In [3]:
x_train.info() # 결측치 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB

In [4]:
x_train.nunique()

CustomerId         6499
Surname            2289
CreditScore         459
Geography             3
Gender                4
Age                  69
Tenure               11
Balance            4162
NumOfProducts         4
HasCrCard             2
IsActiveMember        2
EstimatedSalary    6499
dtype: int64

In [8]:
dum_col = ['CustomerId', 'Surname']
x_train_drop = x_train.drop(columns = dum_col)
x_test_drop = x_test.drop(columns = dum_col)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
x_train_dummies = pd.get_dummies(x_train_drop)
y = y_train['Exited']
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

In [15]:
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dummies, y, test_size = 0.2, random_state = 42)
rf = RandomForestClassifier(random_state = 23)
rf.fit(X_train, Y_train)
predict_test_label = rf.predict(x_test_dummies)
pd.DataFrame({'ID': x_test.CustomerId, 'Exited': predict_test_label}).to_csv('result7.csv', index=False)

In [16]:
from sklearn.metrics import f1_score

In [17]:
predict_validation_label = rf.predict(X_validation)
f1_score(Y_validation,predict_validation_label)

0.5807962529274004

이직여부 판단 데이터

In [60]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")


display(x_train.head())
display(y_train.head())

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [61]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [62]:
# 데이터 전처리

In [63]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [64]:
x_train.gender.fillna(x_train.gender.value_counts().index[0], inplace = True)
x_train.enrolled_university.fillna(x_train.enrolled_university.value_counts().index[0], inplace = True)
x_train.education_level.fillna(x_train.education_level.value_counts().index[0], inplace = True)
x_train.major_discipline.fillna(x_train.major_discipline.value_counts().index[0], inplace = True)
x_train.experience.fillna(x_train.experience.value_counts().index[0], inplace = True)
x_train.company_size.fillna(x_train.company_size.value_counts().index[0], inplace = True)
x_train.company_type.fillna(x_train.company_type.value_counts().index[0], inplace = True)
x_train.last_new_job.fillna(x_train.last_new_job.value_counts().index[0], inplace = True)
x_train.training_hours.fillna(x_train.training_hours.value_counts().index[0], inplace = True)

In [65]:
x_train.nunique()

enrollee_id               12452
city                        122
city_development_index       92
gender                        3
relevent_experience           2
enrolled_university           3
education_level               5
major_discipline              6
experience                   22
company_size                  8
company_type                  6
last_new_job                  6
training_hours              241
dtype: int64

In [99]:
x_test.nunique()

enrollee_id               6706
city                       118
city_development_index      92
gender                       3
relevent_experience          2
enrolled_university          3
education_level              5
major_discipline             6
experience                  22
company_size                 8
company_type                 6
last_new_job                 6
training_hours             238
dtype: int64

In [103]:
dum_col = ['enrollee_id', 'city']
x_train_drop = x_train.drop(columns = dum_col)
x_test_drop = x_test.drop(columns = dum_col)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
x_train_dummies = pd.get_dummies(x_train_drop)
y = y_train['target']
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dummies, y, test_size = 0.2, random_state = 42)
rf = RandomForestClassifier(random_state = 23)
rf.fit(X_train, Y_train)
predict_test_label = rf.predict(x_test_dummies)
pd.DataFrame({'ID': x_test.enrollee_id, 'target': predict_test_label}).to_csv('result8.csv', index=False)

In [104]:
predict_validation_label = rf.predict(X_validation)
f1_score(Y_validation,predict_validation_label)

0.4459203036053131

정시 배송 여부 판단 (2회기출)

In [120]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [121]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

In [122]:
x_train.nunique()

ID                     6598
Warehouse_block           5
Mode_of_Shipment          3
Customer_care_calls       6
Customer_rating           5
Cost_of_the_Product     215
Prior_purchases           8
Product_importance        3
Gender                    2
Discount_offered         65
Weight_in_gms          3365
dtype: int64

In [136]:
drop_col = ['ID','Cost_of_the_Product']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)
y = y_train['Reached.on.Time_Y.N']

In [137]:
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

In [142]:
X_train, X_validation, Y_train, Y_validatioin = train_test_split(x_train_dummies, y, test_size = 0.33, random_state = 42)
rf = RandomForestClassifier(random_state = 23)
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=23)

In [143]:
predict_test_label = rf.predict(x_test_dummies)
pd.DataFrame({'ID': x_test.ID, 'target': predict_test_label}).to_csv('result9.csv', index=False)

In [144]:
predict_validation_label = rf.predict(X_validation)
f1_score(Y_validation, predict_validation_label)

0.682806729585556

In [141]:
drop_col = ['ID','Cost_of_the_Product']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
x_train_dummies = pd.get_dummies(x_train_drop)
y = y_train['Reached.on.Time_Y.N']
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dummies, y, test_size=0.33, random_state=42)
rf = RandomForestClassifier(random_state =23)
rf.fit(X_train,Y_train)

predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:,1]

predict_validation_label = rf.predict(X_validation)
predict_validation_prob = rf.predict_proba(X_validation)[:,1]

print('train f1_score :', f1_score(Y_train,predict_train_label))
print('validation f1_score :', f1_score(Y_validation,predict_validation_label))


predict_test_label = rf.predict(x_test_dummies)

# accuracy, f1_score, recall, precision 
#pd.DataFrame({'ID': x_test.ID, 'Reached.on.Time_Y.N': predict_test_label}).to_csv('003000000.csv', index=False)

# auc, 확률
#pd.DataFrame({'ID': x_test.ID, 'Reached.on.Time_Y.N': predict_test_proba}).to_csv('003000000.csv', index=False)

train accuracy : 1.0
validation accuracy : 0.6450872359963269


train f1_score : 1.0
validation f1_score : 0.682806729585556


train recall_score : 1.0
validation recall_score : 0.6454615981380916


train precision_score : 1.0
validation precision_score : 0.7247386759581882


train auc : 1.0
validation auc : 0.7281618889958383

성인 건강검진 데이터

In [149]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,126.0,12.9,1.0,0.7,18.0,19.0,27.0,Y,0.0,Y
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,127.0,12.7,1.0,0.6,22.0,19.0,18.0,Y,0.0,Y
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,151.0,15.8,1.0,1.0,21.0,16.0,22.0,Y,0.0,N
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,226.0,14.7,1.0,1.0,19.0,26.0,18.0,Y,0.0,Y
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,107.0,12.5,1.0,0.6,16.0,14.0,22.0,Y,0.0,N

   ID  흡연상태
0   0     0
1   1     0
2   2     1
3   3     0
4   4     0

In [151]:
x_train.nunique()

ID             44553
성별코드               2
연령대코드(5세단위)       14
신장(5Cm단위)         13
체중(5Kg단위)         22
허리둘레             566
시력(좌)             19
시력(우)             17
청력(좌)              2
청력(우)              2
수축기혈압            130
이완기혈압             95
식전혈당(공복혈당)       276
총콜레스테롤           286
트리글리세라이드         390
HDL콜레스테롤         126
LDL콜레스테롤         289
혈색소              145
요단백                6
혈청크레아티닌           38
(혈청지오티)AST       219
(혈청지오티)ALT       245
감마지티피            488
구강검진수검여부           1
치아우식증유무            2
치석                 2
dtype: int64

In [155]:
drop_col = ['ID', '구강검진수검여부']
train_drop = x_train.drop(columns = drop_col)
test_drop = x_test.drop(columns = drop_col)
y = y_train['흡연상태']

In [156]:
train_dummies = pd.get_dummies(train_drop)
test_dummies = pd.get_dummies(test_drop)
test_dummies = test_dummies[train_dummies.columns]

In [157]:
X_train, X_validation, Y_train, Y_validation = train_test_split(train_dummies, y, test_size = 0.33, random_state = 42)

In [159]:
rf = RandomForestClassifier(random_state = 23)
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=23)

In [ ]:
# 정확도 (accuracy) , f1_score , recall , precision -> model.predict로 결과뽑기

In [164]:
predict_test_label = rf.predict(test_dummies)
pd.DataFrame({'pred' : predict_test_label}).to_csv('result10.csv',index = False)

In [165]:
predict_validation_label = rf.predict(X_validation)
f1_score(Y_validation, predict_validation_label)

0.6795289855072465

In [168]:
# auc , 확률이라는 표현있으면 model.predict_proba로 결과뽑고 첫번째 행의 값을 가져오기 model.predict_proba()[:,1]

In [169]:
predict_test_proba = rf.predict_proba(test_dummies)[:,1]
pd.DataFrame({'pred' : predict_test_proba}).to_csv('result11.csv',index = False)

In [170]:
predict_validation_prob = rf.predict_proba(X_validation)[:,1]
roc_auc_score(Y_validation,predict_validation_prob)

0.8379443207832684