## 서울시 따릉이 이용정보 데이터

In [1]:
import pandas as pd

df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [2]:
df['대여일자'].value_counts().sort_index().to_frame()

             대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [3]:
df['대여일자'].value_counts(ascending=False).index[0]

'2021-06-04'

각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [4]:
df['대여일자'] = pd.to_datetime(df['대여일자'])

In [5]:
df['요일'] = df.대여일자.dt.day_name() #day_name -> 요일인거 외우기
df.요일.value_counts().to_frame()

               요일
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라 - 다시

In [6]:
df.groupby(['요일', '대여소번호']).size().to_frame('size').sort_values(['요일', 'size'], ascending = False).reset_index().drop_duplicates('요일', keep='first').reset_index(drop = True)

          요일  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [7]:
df.groupby(['요일', '대여소번호']).size().to_frame('size').sort_values(['요일', 'size'], ascending = False).reset_index().drop_duplicates('요일', keep = 'first').reset_index(drop = True)

          요일  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라 - 다시하기 isin의 중요성!!

In [8]:
daycount = df[df.대여구분코드.isin(['일일권', '일일권(비회원)'])].연령대코드.value_counts().sort_index()

In [9]:
total = df.연령대코드.value_counts().sort_index()

In [10]:
(daycount/total).sort_values(ascending = False)

~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: 연령대코드, dtype: float64

In [11]:
(daycount/total).sort_values(ascending = False).index[0]

'~10대'

In [12]:
df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,요일
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday

연령대별 평균 이동거리를 구하여라

In [13]:
df[['연령대코드', '이동거리']].groupby('연령대코드').mean()

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

6월 7일 ~10대의 “이용건수”의 중앙값은?

In [14]:
(df[(df.대여일자 == '2021-06-07') & (df.연령대코드 == '~10대')]).이용건수.median()

1.0

남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라

In [15]:
df['성별'].isin(['F', 'f'])

0          True
1          True
2          True
3          True
4          True
          ...
678945    False
678946    False
678947    False
678948    False
678949    False
Name: 성별, Length: 678950, dtype: bool

In [16]:
df[df['성별'].isin(['F', 'f'])].이동거리.mean()

3468.5750252981957

In [17]:
df[df['성별'].isin(['M', 'm'])].이동거리.mean()

3209.1108714530546

##### lambda 외우기!!!!

In [18]:
df['sex'] = df['성별'].map(lambda x : '남' if x in ['M', 'm'] else '여')
df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,요일,sex
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday,여
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday,여
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday,여
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday,여
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday,여
...,...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday,남
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday,남
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday,남
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday,남
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday,남

In [19]:
df[['이동거리', 'sex']].groupby('sex').mean()

            이동거리
sex
남    3209.110871
여    3468.575025