성인 건강검진 데이터

데이터 설명 : 2018년도 성인의 건강검 진데이터 (종속변수 : 흡연상태 1- 흡연, 0-비흡연 )

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,126.0,12.9,1.0,0.7,18.0,19.0,27.0,Y,0.0,Y
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,127.0,12.7,1.0,0.6,22.0,19.0,18.0,Y,0.0,Y
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,151.0,15.8,1.0,1.0,21.0,16.0,22.0,Y,0.0,N
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,226.0,14.7,1.0,1.0,19.0,26.0,18.0,Y,0.0,Y
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,107.0,12.5,1.0,0.6,16.0,14.0,22.0,Y,0.0,N

   ID  흡연상태
0   0     0
1   1     0
2   2     1
3   3     0
4   4     0

In [2]:
print(x_train.info())
print(x_train.nunique())
print(x_train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           44553 non-null  int64
 1   성별코드         44553 non-null  object
 2   연령대코드(5세단위)  44553 non-null  int64
 3   신장(5Cm단위)    44553 non-null  int64
 4   체중(5Kg단위)    44553 non-null  int64
 5   허리둘레         44553 non-null  float64
 6   시력(좌)        44553 non-null  float64
 7   시력(우)        44553 non-null  float64
 8   청력(좌)        44553 non-null  float64
 9   청력(우)        44553 non-null  float64
 10  수축기혈압        44553 non-null  float64
 11  이완기혈압        44553 non-null  float64
 12  식전혈당(공복혈당)   44553 non-null  float64
 13  총콜레스테롤       44553 non-null  float64
 14  트리글리세라이드     44553 non-null  float64
 15  HDL콜레스테롤     44553 non-null  float64
 16  LDL콜레스테롤     44553 non-null  float64
 17  혈색소          44553 non-null  float64
 18  요단백          44553 non-null  float64
 19  혈청크레아티닌      44553 non-null  float64
 20  (혈청지오티)AST   44553 non-null  float64
 21  (혈청지오티)ALT   44553 non-null  float64
 22  감마지티피        44553 non-null  float64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB
None
ID             44553
성별코드               2
연령대코드(5세단위)       14
신장(5Cm단위)         13
체중(5Kg단위)         22
허리둘레             566
시력(좌)             19
시력(우)             17
청력(좌)              2
청력(우)              2
수축기혈압            130
이완기혈압             95
식전혈당(공복혈당)       276
총콜레스테롤           286
트리글리세라이드         390
HDL콜레스테롤         126
LDL콜레스테롤         289
혈색소              145
요단백                6
혈청크레아티닌           38
(혈청지오티)AST       219
(혈청지오티)ALT       245
감마지티피            488
구강검진수검여부           1
치아우식증유무            2
치석                 2
dtype: int64
ID             0
성별코드           0
연령대코드(5세단위)    0
신장(5Cm단위)      0
체중(5Kg단위)      0
허리둘레           0
시력(좌)          0
시력(우)          0
청력(좌)          0
청력(우)          0
수축기혈압          0
이완기혈압          0
식전혈당(공복혈당)     0
총콜레스테롤         0
트리글리세라이드       0
HDL콜레스테롤       0
LDL콜레스테롤       0
혈색소            0
요단백            0
혈청크레아티닌        0
(혈청지오티)AST     0
(혈청지오티)ALT     0
감마지티피          0
구강검진수검여부       0
치아우식증유무        0
치석             0
dtype: int64

## drop_col 작성하기

구강검진수검여부는 1개라서 제거

In [6]:
drop_col = ['ID','구강검진수검여부']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)

## train test 랑 랜덤포레스트 들고오고 더미화

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
y = y_train['흡연상태']

In [9]:
x_test_dummies = x_test_dummies[x_train_dummies.columns]

## train test split 시작 후 predict 시작

In [20]:
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dummies, y, test_size=0.33, random_state = 42, stratify = y)

In [21]:
rf = RandomForestClassifier(random_state = 42)
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=42)

In [22]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, roc_auc_score, precision_score

In [23]:
predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:,1]

In [24]:
predict_validaion_label = rf.predict(X_validation)
predict_validaion_proba = rf.predict_proba(X_validation)[:,1]

In [25]:
accuracy_score(Y_train, predict_train_label)
accuracy_score(Y_validation, predict_validaion_label)

0.755356049785758

In [26]:
predict_test_label = rf.predict(x_test_dummies)
predict_test_proba = rf.predict_proba(x_test_dummies)[:,1]

## csv파일로 출력하기 encoding 넣기!

정확도

In [29]:
pd.DataFrame({'ID' : x_test.ID, '흡연상태' : predict_test_label}).to_csv('result3.csv', index = False, encoding = 'cp949')

확률

In [28]:
pd.DataFrame({'ID' : x_test.ID, '흡연상태' : predict_test_proba}).to_csv('result4.csv', index = False)