작업형 1

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv 월마트 판매량 데이터 : https://www.kaggle.com/datasets/asahu40/walmart-data-analysis-and-forcasting

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라 - 다시

In [2]:
df['Temperature'] = df['Temperature'].str.replace('*','', regex=True).astype('float') # -다시

In [3]:
round(df['Temperature'].quantile(0.75) - df['Temperature'].quantile(0.25), 2)

27.48

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv 유튜브 영상 통계량 : https://www.kaggle.com/datasets/advaypatil/youtube-statistics?select=videos-stats.csv

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라

In [8]:
df[((df['Likes'] / df['Comments']) >=20) & (df['Keyword'] == 'minecraft')].Views.mean().astype('int')

1789084

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv 넷플릭스 영상 메타정보 : https://www.kaggle.com/datasets/akashguna/netflix-prize-shows-information

In [9]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [23]:
df['date_added'] = pd.to_datetime(df['date_added'])

In [29]:
df['date_added']

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [27]:
len(df[(df['date_added'].dt.strftime('%Y-%m') == '2018-01') & (df['country'] == 'United Kingdom')])

6

pd.to_datetime

dt.strftime

작업형 2

유저 분류 : https://www.kaggle.com/datasets/kaushiksuresh147/customer-segmentation train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv

예측 변수 Segmentation, test.csv에 대해 ID별로 Segmentation의 클래스를 예측해서 저장후 제출, 제출 데이터 컬럼은 ID와 Segmentation 두개만 존재해야함. 평가지표는 macro f1 score

In [95]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

display(train.head(2))
test.head(2)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,464357,Male,No,40,Yes,Artist,7.0,Low,1.0,Cat_6,A
1,459624,Male,No,18,No,Healthcare,NaN,Low,5.0,Cat_4,D

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,460406,Male,Yes,36,Yes,Healthcare,3.0,Low,2.0,Cat_6
1,466890,Male,Yes,47,Yes,Artist,0.0,Average,6.0,Cat_7

In [96]:
x_train = train
x_test = test

In [97]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               4881 non-null   int64
 1   Gender           4881 non-null   object
 2   Ever_Married     4785 non-null   object
 3   Age              4881 non-null   int64
 4   Graduated        4830 non-null   object
 5   Profession       4817 non-null   object
 6   Work_Experience  4368 non-null   float64
 7   Spending_Score   4881 non-null   object
 8   Family_Size      4689 non-null   float64
 9   Var_1            4831 non-null   object
 10  Segmentation     4881 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 419.6+ KB

In [98]:
x_train.isnull().sum()

ID                   0
Gender               0
Ever_Married        96
Age                  0
Graduated           51
Profession          64
Work_Experience    513
Spending_Score       0
Family_Size        192
Var_1               50
Segmentation         0
dtype: int64

In [99]:
x_train.Work_Experience.mean()

2.6852106227106227

In [100]:
x_train.Ever_Married.fillna(x_train.Ever_Married.value_counts().index[0], inplace = True)
x_train.Graduated.fillna(x_train.Graduated.value_counts().index[0], inplace = True)
x_train.Profession.fillna(x_train.Profession.value_counts().index[0], inplace = True)
x_train.Work_Experience.fillna(x_train.Work_Experience.value_counts().index[0], inplace = True)
x_train.Family_Size.fillna(x_train.Family_Size.value_counts().index[0], inplace = True)
x_train.Var_1.fillna(x_train.Var_1.value_counts().index[0], inplace = True)

In [101]:
x_test.Ever_Married.fillna(x_test.Ever_Married.value_counts().index[0], inplace = True)
x_test.Graduated.fillna(x_test.Graduated.value_counts().index[0], inplace = True)
x_test.Profession.fillna(x_test.Profession.value_counts().index[0], inplace = True)
x_test.Work_Experience.fillna(x_test.Work_Experience.value_counts().index[0], inplace = True)
x_test.Family_Size.fillna(x_test.Family_Size.value_counts().index[0], inplace = True)
x_test.Var_1.fillna(x_test.Var_1.value_counts().index[0], inplace = True)

In [102]:
x_train['Family_Size'] = x_train['Family_Size'].astype('str')
x_test['Family_Size'] = x_test['Family_Size'].astype('str')

In [103]:
x_train

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,464357,Male,No,40,Yes,Artist,7.0,Low,1.0,Cat_6,A
1,459624,Male,No,18,No,Healthcare,0.0,Low,5.0,Cat_4,D
2,462672,Male,No,25,No,Healthcare,7.0,Low,4.0,Cat_4,D
3,463360,Female,Yes,46,Yes,Artist,2.0,Low,1.0,Cat_6,B
4,462420,Male,No,27,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
...,...,...,...,...,...,...,...,...,...,...,...
4876,465496,Male,Yes,84,Yes,Lawyer,0.0,Low,2.0,Cat_2,C
4877,460946,Male,No,84,No,Artist,0.0,Low,1.0,Cat_6,D
4878,466118,Female,Yes,40,No,Engineer,0.0,Low,3.0,Cat_4,D
4879,460729,Male,Yes,36,Yes,Entertainment,9.0,Low,4.0,Cat_6,A
4880,463270,Male,Yes,52,No,Executive,1.0,Low,5.0,Cat_6,A

In [104]:
drop_col = ['Segmentation']
x_train_drop = x_train.drop(columns = ['Segmentation', 'ID'])
y_train= train['Segmentation']

In [105]:
x_test_drop = x_test.drop(columns = ['ID'])

In [106]:
train_dum = pd.get_dummies(x_train_drop)
test_dum = pd.get_dummies(x_test_drop)[train_dum.columns]

In [107]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, f1_score

In [108]:
X_train, X_validation, Y_train, Y_validation = train_test_split(train_dum, y_train, random_state=42)

In [109]:
rf = RandomForestClassifier(random_state = 23)

In [110]:
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=23)

In [111]:
# pred = rf.predict(X_validation)

In [112]:
# f1_score(Y_validation, pred, average = 'macro')

0.37455550183182484

In [113]:
pred_submit = rf.predict(test_dum)

In [115]:
pd.DataFrame({'pred' : pred_submit}).to_csv('result12.csv', index = False)

작업형 3

어느 대학교의 신입생의 학과별 성별에 대한 데이터이다. DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv 이 데이터를 바탕으로, 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.

In [116]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

In [127]:
round(df.groupby('학과').size().mean(), 3)

170.333

In [129]:
import scipy.stats

카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라

In [130]:
dir(scipy.stats)

['F_onewayBadInputSizesWarning',
 'F_onewayConstantInputWarning',
 'NumericalInverseHermite',
 'PearsonRConstantInputWarning',
 'PearsonRNearConstantInputWarning',
 'SpearmanRConstantInputWarning',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_binned_statistic',
 '_binomtest',
 '_boost',
 '_bootstrap',
 '_common',
 '_constants',
 '_continuous_distns',
 '_crosstab',
 '_discrete_distns',
 '_distn_infrastructure',
 '_distr_params',
 '_entropy',
 '_hypotests',
 '_ksstats',
 '_mannwhitneyu',
 '_multivariate',
 '_page_trend_test',
 '_qmc',
 '_qmc_cy',
 '_relative_risk',
 '_rvs_sampling',
 '_sobol',
 '_stats',
 '_stats_mstats_common',
 '_tukeylambda_stats',
 '_wilcoxon_data',
 'alexandergovern',
 'alpha',
 'anderson',
 'anderson_ksamp',
 'anglit',
 'ansari',
 'arcsine',
 'argus',
 'barnard_exact',
 'bartlett',
 'bayes_mvs',
 'bernoulli',
 'beta',
 'betabinom',
 'betaprime',
 'biasedurn',
 'binned_statistic',
 'binned_statistic_2d',
 'binned_statistic_dd',
 'binom',
 'binom_test',
 'binomtest',
 'boltzmann',
 'bootstrap',
 'boschloo_exact',
 'boxcox',
 'boxcox_llf',
 'boxcox_normmax',
 'boxcox_normplot',
 'bradford',
 'brunnermunzel',
 'burr',
 'burr12',
 'cauchy',
 'chi',
 'chi2',
 'chi2_contingency',
 'chisquare',
 'circmean',
 'circstd',
 'circvar',
 'combine_pvalues',
 'contingency',
 'cosine',
 'cramervonmises',
 'cramervonmises_2samp',
 'crystalball',
 'cumfreq',
 'describe',
 'dgamma',
 'differential_entropy',
 'dirichlet',
 'distributions',
 'dlaplace',
 'dweibull',
 'energy_distance',
 'entropy',
 'epps_singleton_2samp',
 'erlang',
 'expon',
 'exponnorm',
 'exponpow',
 'exponweib',
 'f',
 'f_oneway',
 'fatiguelife',
 'find_repeats',
 'fisher_exact',
 'fisk',
 'fligner',
 'foldcauchy',
 'foldnorm',
 'friedmanchisquare',
 'gamma',
 'gausshyper',
 'gaussian_kde',
 'genexpon',
 'genextreme',
 'gengamma',
 'genhalflogistic',
 'genhyperbolic',
 'geninvgauss',
 'genlogistic',
 'gennorm',
 'genpareto',
 'geom',
 'gilbrat',
 'gmean',
 'gompertz',
 'gstd',
 'gumbel_l',
 'gumbel_r',
 'halfcauchy',
 'halfgennorm',
 'halflogistic',
 'halfnorm',
 'hmean',
 'hypergeom',
 'hypsecant',
 'invgamma',
 'invgauss',
 'invweibull',
 'invwishart',
 'iqr',
 'itemfreq',
 'jarque_bera',
 'johnsonsb',
 'johnsonsu',
 'kappa3',
 'kappa4',
 'kde',
 'kendalltau',
 'kruskal',
 'ks_1samp',
 'ks_2samp',
 'ksone',
 'kstat',
 'kstatvar',
 'kstest',
 'kstwo',
 'kstwobign',
 'kurtosis',
 'kurtosistest',
 'laplace',
 'laplace_asymmetric',
 'levene',
 'levy',
 'levy_l',
 'levy_stable',
 'linregress',
 'loggamma',
 'logistic',
 'loglaplace',
 'lognorm',
 'logser',
 'loguniform',
 'lomax',
 'mannwhitneyu',
 'matrix_normal',
 'maxwell',
 'median_abs_deviation',
 'median_absolute_deviation',
 'median_test',
 'mielke',
 'mode',
 'moment',
 'mood',
 'morestats',
 'moyal',
 'mstats',
 'mstats_basic',
 'mstats_extras',
 'multinomial',
 'multiscale_graphcorr',
 'multivariate_hypergeom',
 'multivariate_normal',
 'multivariate_t',
 'mvn',
 'mvsdist',
 'nakagami',
 'nbinom',
 'ncf',
 'nchypergeom_fisher',
 'nchypergeom_wallenius',
 'nct',
 'ncx2',
 'nhypergeom',
 'norm',
 'normaltest',
 'norminvgauss',
 'obrientransform',
 'ortho_group',
 'page_trend_test',
 'pareto',
 'pearson3',
 'pearsonr',
 'percentileofscore',
 'planck',
 'pointbiserialr',
 'poisson',
 'power_divergence',
 'powerlaw',
 'powerlognorm',
 'powernorm',
 'ppcc_max',
 'ppcc_plot',
 'probplot',
 'qmc',
 'randint',
 'random_correlation',
 'rankdata',
 'ranksums',
 'rayleigh',
 'rdist',
 'recipinvgauss',
 'reciprocal',
 'relfreq',
 'rice',
 'rv_continuous',
 'rv_discrete',
 'rv_histogram',
 'rvs_ratio_uniforms',
 'scoreatpercentile',
 'sem',
 'semicircular',
 'shapiro',
 'siegelslopes',
 'sigmaclip',
 'skellam',
 'skew',
 'skewcauchy',
 'skewnorm',
 'skewtest',
 'somersd',
 'spearmanr',
 'special_ortho_group',
 'statlib',
 'stats',
 'studentized_range',
 't',
 'test',
 'theilslopes',
 'tiecorrect',
 'tmax',
 'tmean',
 'tmin',
 'trapezoid',
 'trapz',
 'triang',
 'trim1',
 'trim_mean',
 'trimboth',
 'truncexpon',
 'truncnorm',
 'tsem',
 'tstd',
 'ttest_1samp',
 'ttest_ind',
 'ttest_ind_from_stats',
 'ttest_rel',
 'tukeylambda',
 'tvar',
 'uniform',
 'unitary_group',
 'variation',
 'vonmises',
 'vonmises_line',
 'wald',
 'wasserstein_distance',
 'weibull_max',
 'weibull_min',
 'weightedtau',
 'wilcoxon',
 'wishart',
 'wrapcauchy',
 'yeojohnson',
 'yeojohnson_llf',
 'yeojohnson_normmax',
 'yeojohnson_normplot',
 'yulesimon',
 'zipf',
 'zipfian',
 'zmap',
 'zscore']

In [137]:
from scipy.stats import ttest_rel, ttest_1samp, chi2_contingency

In [141]:
ddf = pd.crosstab(df['학과'], df['성별'])

In [144]:
s, p, _, _ = chi2_contingency(ddf)
round(s, 3)

5.646

In [145]:
round(p, 3)

0.342

In [147]:
# p>0.05 -> 귀무가설을 기각할 수 없음

어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다. -다시 (모르겠음)

In [162]:
from scipy.stats import norm

In [163]:
import numpy as np 
n = 100
p_hat = 0.6
p = 0.5
alpha = 0.05

In [164]:
# 검정통계량 계산

In [165]:
z = round((p_hat-p)/np.sqrt(p*(1-p)/n),5)

In [166]:
z

2.0

In [167]:
p= round(1-norm.cdf(z), 3)
p

0.023

In [169]:
# -> 대립가설 채택

In [170]:
# 평균점수는 50점 이상이 아니다