다음 데이터는 어떤 집단의 왼손잡이, 오른손 잡이의 숫자를 나타낸다. 

인간의 왼손잡이와 오른손잡이의 비율을 0.2:0.8로 알려져있다.
    
이 집단에서 왼손과 오른손 잡이의 비율이 적합한지 검정하라

In [36]:
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel, shapiro, wilcoxon, f_oneway, chi2_contingency, anderson, levene, bartlett, chisquare, fisher_exact

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/hands2.csv')
df.head()

   hands
0  right
1  right
2   left
3  right
4  right

In [8]:
hdf = df.hands.value_counts().to_frame()
hdf

       hands
right    420
left      80

In [9]:
hdf['expected'] = [int(hdf.hands.sum()*0.8), int(hdf.hands.sum()*0.2)]

In [10]:
chisquare(hdf['hands'], hdf['expected'])

Power_divergenceResult(statistic=5.0, pvalue=0.025347318677468325)

In [11]:
# p < 0.05 -> 대립가설 채택 -> 비율 8:2 아님

다음 데이터는 국민 기초체력을 조사한 데이터이다. 성별과 등급이 독립적인지 검정하라

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [19]:
ddf = df[['측정회원성별', '등급']]
ddf

      측정회원성별 등급
0          M  C
1          F  B
2          M  B
3          M  A
4          M  C
...      ... ..
13391      M  C
13392      M  C
13393      M  B
13394      M  B
13395      M  A

[13396 rows x 2 columns]

In [20]:
ddf = pd.crosstab(ddf['측정회원성별'], ddf['등급'])
ddf

등급         A     B     C     D
측정회원성별
F       1484  1130  1147  1120
M       1865  2219  2202  2229

In [22]:
s, p, _, _ = chi2_contingency(ddf)
p

7.481892813401677e-26

In [25]:
# p<0.05 -> 대립가설 채택 -> 연관이 있다

성별에 따른 동아리 활동 참석 비율을 나타낸 데이터이다. 성별과 참석간에 관련이 있는지 검정하라

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/fe2.csv',index_col=0)
df

    불참  참석  총합
남성   4   2   6
여성   1   9  10
총합   5  11  16

In [30]:
df = df.iloc[:-1, :-1]
df

    불참  참석
남성   4   2
여성   1   9

In [31]:
s, p, _, _ = chi2_contingency(df)
p<0.05

False

In [32]:
p

0.07023259819117404

In [33]:
# 5보다 작은 셀이 20%가 넘어가므로(75%) 피셔의 정확검정을 사용

In [38]:
print(fisher_exact(df))

(18.0, 0.035714285714285726)

In [39]:
# 0.035714285714285726 <0.05 -> 대립가설 채택 -> 연관이 있다