## 기온 강수량 데이터

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   object
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: float64(4), object(1)
memory usage: 343.2+ KB

여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [3]:
df.time = pd.to_datetime(df.time)
df

                    time  이화동강수  이화동기온  수영동강수  수영동기온
0    2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1    2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2    2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3    2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4    2020-01-01 04:00:00    0.0   -0.1    0.0    5.1
...                  ...    ...    ...    ...    ...
8779 2020-12-31 19:00:00    0.0   -9.5    0.0   -4.5
8780 2020-12-31 20:00:00    0.0   -9.5    0.0   -5.0
8781 2020-12-31 21:00:00    0.0   -9.3    0.0   -6.5
8782 2020-12-31 22:00:00    0.0   -9.2    0.0   -4.6
8783 2020-12-31 23:00:00    0.0   -7.8    0.0   -0.2

[8784 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   datetime64[ns]
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 343.2 KB

In [7]:
summer = df.loc[df.time.dt.month.isin([6, 7, 8])].reset_index(drop = True)
len(summer.loc[summer.이화동기온 > summer.수영동기온])

1415

여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가? - 다시

In [12]:
df.time = pd.to_datetime(df.time)
summer = df.loc[df.time.dt.month.isin([6, 7, 8])].reset_index(drop = True)
len(summer.loc[summer.이화동기온 > summer.수영동기온])

1415

이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [28]:
df['time'] = pd.to_datetime(df.time)
print(df[df.이화동강수 == df.이화동강수.max()].time.values)
print(df[df.수영동강수 == df.수영동강수.max()].time.values)

['2020-09-30T09:00:00.000000000']
['2020-07-23T12:00:00.000000000']