In [13]:
import warnings
warnings.filterwarnings('ignore')

In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv("t1-data2.csv")
df.head()

,year,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,2022년,69,37,57,70,40,75,8,67,89,...,79,56,98,21,14,25,17,10,60,17
1,2023년,52,13,22,70,92,80,8,56,17,...,62,47,59,6,25,96,69,87,28,64
2,2024년,88,44,32,55,64,8,4,2,62,...,98,95,40,59,69,71,86,53,93,64
3,2025년,80,97,15,4,74,12,100,60,47,...,30,11,2,54,9,52,51,81,78,22
4,2026년,64,66,62,56,67,80,90,24,58,...,93,15,88,67,7,82,5,61,15,63

2022년 데이터 중 2022년 중앙값보다 큰 값의 데이터 수

In [31]:
df[df['year'] == '2022년'].drop(columns = 'year').values

array([[ 69,  37,  57,  70,  40,  75,   8,  67,  89,  91,  53,  88,  82,
         41,   2,  98,  56,  40,  83,  81,  59,  71,  67,  73,   5,  96,
         34,   6, 100,  48,  37,  52,   9,  54,  34,  57,  22,   2,   7,
         30,  87,  62,  54,   9,  88,  15,  87,  14,  72,  50,  81,  58,
         36,   5,  69,  81,  42,  56,  33,   1,  56,  18,   4,  90,  96,
          4,  54,  87,  90,  95,  42,  70,  55,  37,  12,  99,  14,  74,
         24,  97,  13,  53,  52,  98,  58, 100,  73,  17,  91,  35,  79,
         56,  98,  21,  14,  25,  17,  10,  60,  17]], dtype=int64)

In [40]:
df[df['year'] == '2022년'].drop(columns = 'year').values

array([[ 69,  37,  57,  70,  40,  75,   8,  67,  89,  91,  53,  88,  82,
         41,   2,  98,  56,  40,  83,  81,  59,  71,  67,  73,   5,  96,
         34,   6, 100,  48,  37,  52,   9,  54,  34,  57,  22,   2,   7,
         30,  87,  62,  54,   9,  88,  15,  87,  14,  72,  50,  81,  58,
         36,   5,  69,  81,  42,  56,  33,   1,  56,  18,   4,  90,  96,
          4,  54,  87,  90,  95,  42,  70,  55,  37,  12,  99,  14,  74,
         24,  97,  13,  53,  52,  98,  58, 100,  73,  17,  91,  35,  79,
         56,  98,  21,  14,  25,  17,  10,  60,  17]], dtype=int64)

In [43]:
(df[df['year'] == '2022년'].drop(columns = 'year').values > np.median(df[:1].drop(columns = 'year').values)).sum()

50

결측치 데이터(행)을 제거하고, 앞에서부터 60% 데이터만 활용해, 'f1' 컬럼 3사분위 값을 구하시오

In [49]:
import pandas as pd
df = pd.read_csv("t1-data1.csv")
df

      id   age city    f1  f2    f4         f5
0   id01   2.0   서울   NaN   0  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  INFP  52.667078
4   id05  24.0   서울  85.0   2  ISFJ  29.269869
..   ...   ...  ...   ...  ..   ...        ...
85  id86   2.0   경기   NaN   0  ESTP  29.269869
86  id87  19.0   경기   NaN   1  ISFP  97.381034
87  id88  89.0   경기  75.0   0  ESTJ  60.339826
88  id89  34.0   경기  66.0   1  ENTJ  33.308999
89  id90  54.0   경기   NaN   0  ENTP  29.269869

[90 rows x 7 columns]

In [50]:
df.isnull().sum()

id       0
age      0
city     0
f1      29
f2       0
f4       0
f5       0
dtype: int64

In [59]:
df = df.dropna()
df[:int(len(df)*0.6)]['f1'].quantile(0.75)

77.25

결측치가 제일 큰 값의 컬럼명을 구하시오

In [75]:
import pandas as pd
df = pd.read_csv("t1-data1.csv")
print(df.isnull().sum().sort_values(ascending = False).index[0])

f1