작업형2 기출 유형(심화)

본 문제는 변형한 심화 문제 입니다.

여행 보험 패키지 상품을 구매할 확률 값을 구하시오

예측할 값(y): TravelInsurance (여행보험 패지지를 구매 했는지 여부 0:구매안함, 1:구매)

평가: roc-auc 평가지표

data: t2-1-train.csv, t2-1-test.csv

제출 형식

3회 기출문제에서 데이터 셋을 편집해 조금 더 어렵게 만들었어요

결측치 추가

Employment Type 컬럼에 카테고리 추가

sample_submission 파일은 제공된 적 없음(3회 때 제출 형식에 대한 이슈가 있어 제공하거나 제출 형식을 명확하게 설명할 가능성 있어 보임)

In [1]:
import pandas as pd
# 데이터 불러오기
train = pd.read_csv("t2-1-train.csv")
test = pd.read_csv("t2-1-test.csv")

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1486 non-null   float64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 116.5+ KB

In [3]:
train.AnnualIncome.fillna(train['AnnualIncome'].mean(), inplace = True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   float64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 116.5+ KB

In [13]:
train.describe()

,id,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance
count,1490.000000,1490.000000,1.490000e+03,1490.000000,1490.000000,1490.000000
mean,10744.500000,29.600000,9.311238e+05,4.755705,0.280537,0.352349
std,430.270264,2.887829,3.759814e+05,1.603613,0.449412,0.477862
min,10000.000000,25.000000,3.000000e+05,2.000000,0.000000,0.000000
25%,10372.250000,28.000000,6.000000e+05,4.000000,0.000000,0.000000
50%,10744.500000,29.000000,9.000000e+05,5.000000,0.000000,0.000000
75%,11116.750000,32.000000,1.250000e+06,6.000000,1.000000,1.000000
max,11489.000000,35.000000,1.800000e+06,9.000000,1.000000,1.000000

In [4]:
test.AnnualIncome.fillna(test['AnnualIncome'].mean(), inplace = True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    float64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: float64(1), int64(4), object(4)
memory usage: 35.1+ KB

In [5]:
test.replace({'Employment Type' : {'Casual employment': 'Private Sector/Self Employed'}}, inplace = True)
test['Employment Type'].value_counts()

Private Sector/Self Employed    363
Government Sector               134
Name: Employment Type, dtype: int64

In [6]:
drop_col = ['TravelInsurance', 'id']
x_train = train.drop(columns = drop_col)
x_test = test.drop(columns = ['id'])
y = train['TravelInsurance']

In [7]:
x_train.shape, x_test.shape

((1490, 8), (497, 8))

In [8]:
x_test = test
x_train_dum = pd.get_dummies(x_train)
x_test_dum = pd.get_dummies(x_test)
x_test_dum = x_test_dum[x_train_dum.columns]

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier

In [10]:
x_train, x_val, y_train, y_val = train_test_split(x_train_dum, y, stratify=y, random_state = 42)
rf = RandomForestClassifier(random_state = 42)
rf.fit(x_train, y_train)
pred = rf.predict_proba(x_val)[:,1]
roc_auc_score(y_val, pred)

0.8744716421676865

In [11]:
x_train.shape, x_val.shape, y_train.shape, y_val.shape

((1117, 12), (373, 12), (1117,), (373,))

In [15]:
test_pred = rf.predict_proba(x_test_dum)[:,1]
pd.DataFrame({'pred' : test_pred}).to_csv('result15.csv', index = False, encoding = 'cp949')
read_test = pd.read_csv('result15.csv')

In [16]:
read_test

         pred
0    0.080000
1    0.016667
2    0.064714
3    0.990000
4    0.185202
..        ...
492  0.111250
493  0.936667
494  0.010000
495  1.000000
496  1.000000

[497 rows x 1 columns]

In [18]:
import xgboost as xgb
model = xgb.XGBRFClassifier(random_state=2022)
model.fit(x_train, y_train)
pred = model.predict_proba(x_val)
roc_auc_score(y_val, pred[:,1])

0.8624219292158223