작업형 1

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure,yes
12866,17259,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure,yes
12867,15200,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure,no
12868,13775,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown,no
12869,20137,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown,no

마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0 ~ 9 : 0 , 10 ~ 19 : 10)

In [10]:
df['연령대'] = (df['age']/10).astype('int')*10
df.연령대.value_counts().index[0]

30

In [16]:
df.연령대.value_counts().values[0]

5056

In [25]:
df[(df['age'] >= 25) & (df['age'] < 29)].housing.value_counts().values[0]

504

balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [45]:
df[(df['balance'] >= df['balance'].mean())].sort_values('ID', ascending= False).head(100).balance.mean()

3473.73

가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [60]:
df[['day', 'month']].value_counts().index[0]

(15, 'may')

데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [77]:
from scipy.stats import shapiro, chi2_contingency

In [68]:
ddf = df[df['job'] == 'unknown']['age']
s, p = shapiro(ddf)
p

0.1961131989955902

In [69]:
p > 0.05 -> 귀무가설을 기각할 수 없음

True

age와 balance의 상관계수를 구하여라

In [76]:
df[['age', 'balance']].corr().iloc[0, 1]

0.10198734763981462

y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [84]:
new = pd.crosstab(df['y'], df['education'])
s, p, _, _ = chi2_contingency(new)
p

7.901201277473551e-29

In [86]:
p > 0.05
# 대립가설 채택

False

각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [185]:
 # 어떻게든 풀기 성공

In [116]:
ddf = df.groupby(['job', 'marital']).size().reset_index()
ddf.groupby('job').sum().reset_index().values

array([['admin.', 1464],
       ['blue-collar', 2571],
       ['entrepreneur', 383],
       ['housemaid', 334],
       ['management', 2858],
       ['retired', 770],
       ['self-employed', 454],
       ['services', 1043],
       ['student', 358],
       ['technician', 2141],
       ['unemployed', 414],
       ['unknown', 80]], dtype=object)

In [162]:
divorced_df = ddf[ddf.marital == 'divorced']
divorced_df.columns = ['job', 'marital', 'num']
divorced_df.num.reset_index(drop = True)

0     207
1     205
2      44
3      49
4     323
5     157
6      39
7     138
8     246
9      62
10      5
Name: num, dtype: int64

In [178]:
ddf[(ddf.job == 'student')]

        job  marital    0
24  student  married   24
25  student   single  334

In [179]:
married_df = ddf[(ddf.marital == 'married') & (ddf.job != 'student')]
married_df.columns = ['job', 'marital', 'num']
married_df.num.reset_index(drop = True)

0      762
1     1775
2      272
3      245
4     1580
5      572
6      284
7      584
8     1115
9      219
10      58
Name: num, dtype: int64

In [184]:
(divorced_df.num.reset_index(drop = True) / married_df.num.reset_index(drop = True)).sort_values(ascending = False).values[0]

0.2831050228310502

작업형 2

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv
test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv
submission : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv

In [211]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

In [212]:
y_train = train['y']
x_train = train.drop(columns = ['y', 'ID'])
x_train

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown
1,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown
2,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown
3,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown
4,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure
12866,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure
12867,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure
12868,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown
12869,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown

In [213]:
x_train.nunique()

age            76
job            12
marital         3
education       4
default         2
balance      4188
housing         2
loan            2
contact         3
day            31
month          12
campaign       36
pdays         461
previous       30
poutcome        4
dtype: int64

In [214]:
x_dum = pd.get_dummies(x_train)

In [221]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, roc_auc_score

In [216]:
help(train_test_split)

Help on function train_test_split in module sklearn.model_selection._split:

train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)
    Split arrays or matrices into random train and test subsets.

    Quick utility that wraps input validation and
    ``next(ShuffleSplit().split(X, y))`` and application to input data
    into a single call for splitting (and optionally subsampling) data in a
    oneliner.

    Read more in the :ref:`User Guide <cross_validation>`.

    Parameters
    ----------
    *arrays : sequence of indexables with same length / shape[0]
        Allowed inputs are lists, numpy arrays, scipy-sparse
        matrices or pandas dataframes.

    test_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the proportion
        of the dataset to include in the test split. If int, represents the
        absolute number of test samples. If None, the value is set to the
        complement of the train size. If ``train_size`` is also None, it will
        be set to 0.25.

    train_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the
        proportion of the dataset to include in the train split. If
        int, represents the absolute number of train samples. If None,
        the value is automatically set to the complement of the test size.

    random_state : int, RandomState instance or None, default=None
        Controls the shuffling applied to the data before applying the split.
        Pass an int for reproducible output across multiple function calls.
        See :term:`Glossary <random_state>`.

    shuffle : bool, default=True
        Whether or not to shuffle the data before splitting. If shuffle=False
        then stratify must be None.

    stratify : array-like, default=None
        If not None, data is split in a stratified fashion, using this as
        the class labels.
        Read more in the :ref:`User Guide <stratification>`.

    Returns
    -------
    splitting : list, length=2 * len(arrays)
        List containing train-test split of inputs.

        .. versionadded:: 0.16
            If the input is sparse, the output will be a
            ``scipy.sparse.csr_matrix``. Else, output type is the same as the
            input type.

    Examples
    --------
    >>> import numpy as np
    >>> from sklearn.model_selection import train_test_split
    >>> X, y = np.arange(10).reshape((5, 2)), range(5)
    >>> X
    array([[0, 1],
           [2, 3],
           [4, 5],
           [6, 7],
           [8, 9]])
    >>> list(y)
    [0, 1, 2, 3, 4]

    >>> X_train, X_test, y_train, y_test = train_test_split(
    ...     X, y, test_size=0.33, random_state=42)
    ...
    >>> X_train
    array([[4, 5],
           [0, 1],
           [6, 7]])
    >>> y_train
    [2, 0, 3]
    >>> X_test
    array([[2, 3],
           [8, 9]])
    >>> y_test
    [1, 4]

    >>> train_test_split(y, shuffle=False)
    [[0, 1, 2], [3, 4]]

In [217]:
x_train, x_val, y_train, y_val = train_test_split(x_dum, y_train, stratify = y_train, random_state = 42)
rf = RandomForestClassifier(random_state = 23)

In [220]:
rf.fit(x_train, y_train)
pred = rf.predict_proba(x_val)

In [223]:
roc_auc_score(y_val, pred[:,-1])

0.7801565715300119

In [226]:
test_pred = rf.predict_proba(pd.get_dummies(test.drop(columns = 'ID')))

In [233]:
submission['pred'] = test_pred[:,1]
submission = submission.drop(columns = ['ID','predict'])

In [234]:
print('submission file')
display(submission.head())
submission.to_csv('result14.csv',index=False)

submission file

   pred
0  0.75
1  0.91
2  0.06
3  0.12
4  0.22