특정 집단의 학습 전후 시험 성적 변화를 나타낸 데이터이다. 시험 전과 후에 차이가 있는지 검정하라

In [2]:
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel, shapiro, wilcoxon, f_oneway, chi2_contingency, anderson, levene, bartlett

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/rel1.csv')
df.head()

   before  after
0     153    162
1     153    163
2     158    159
3     157    158
4     167    160

In [5]:
before = df['before']
after = df['after']

In [8]:
print(shapiro(before), shapiro(after))

ShapiroResult(statistic=0.9173726439476013, pvalue=0.001897332607768476) ShapiroResult(statistic=0.9448971152305603, pvalue=0.021141061559319496)

In [9]:
# 정규성을 만족하지 않음

In [11]:
wilcoxon(before, after)

WilcoxonResult(statistic=437.0, pvalue=0.12098409484052809)

In [12]:
# p>0.05 -> 귀무가설 기각 불가 -> 차이가 없다

한 기계 부품의 rpm 수치를 두가지 다른 상황에서 측정했다.(총 70세트) b 상황이 a 상황보다 rpm값이 높다고 말할 수 있는지 검정하라

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/rel4.csv')
df

            rpm group
0    474.551593     a
1    450.548420     a
2    563.720934     a
3    506.886966     a
4    471.724049     a
..          ...   ...
135  508.802475     b
136  485.981627     b
137  499.289525     b
138  520.895380     b
139  506.458813     b

[140 rows x 2 columns]

In [14]:
arpm = df[df['group'] == 'a'].rpm
brpm = df[df['group'] == 'b'].rpm

In [15]:
print(shapiro(arpm), shapiro(brpm))

ShapiroResult(statistic=0.9907213449478149, pvalue=0.8884111046791077) ShapiroResult(statistic=0.984674870967865, pvalue=0.5505106449127197)

In [16]:
# p > 0.05 -> 둘 다 정규성을 만족

In [17]:
levene(arpm, brpm)

LeveneResult(statistic=0.06716114122680159, pvalue=0.7959020864923277)

In [18]:
# levene > 0.05 -> 등분산성을 만족

In [22]:
ttest_rel(arpm, brpm, alternative = 'greater')

Ttest_relResult(statistic=-1.9018108294460812, pvalue=0.9693143365355352)

In [23]:
# p > 0.05 -> 귀무가설 기각할 수 없음

In [24]:
# a<=b 를 기각할 수 없다 -> a<=b

## 카이제곱 검정 (교차분석)

144회 주사위를 던졌을때, 각 눈금별로 나온 횟수를 나타낸다. 이 데이터는 주사위의 분포에서 나올 가능성이 있는지 검정하라

In [25]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/dice.csv')
df

   dice_number  counts
0            1      24
1            2      20
2            3      28
3            4      22
4            5      28
5            6      22

In [26]:
from scipy.stats import chisquare

In [27]:
df['expected'] = (df['counts'].sum()/6).astype('int')
chisquare(df.counts, df.expected)

Power_divergenceResult(statistic=2.333333333333333, pvalue=0.8013589222076911)

In [28]:
# 데이터는 주사위의 분포에서 나올 가능성이 있다를 기각할 수 없음