작업형1 문제

1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력

data_path: ../input/bigdatacertificationkr/basic1.csv

In [1]:
import pandas as pd
df = pd.read_csv("basic1.csv")
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [5]:
int(abs(df['age'].quantile(0.75) - df['age'].quantile(0.25)))

50

1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수

data_path: ../input/big-data-analytics-certification-kr-2022/fb.csv

In [13]:
import pandas as pd
df = pd.read_csv('data/fb.csv')
val = (df['loves'] + df['wows']) / df['reactions']
df['val'] = val
len(df[(df['val'] > 0.4) & (df['val'] < 0.5) & (df['type'] == 'video')])

90

1-3. 

date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [24]:
import pandas as pd
df = pd.read_csv("data/nf.csv")
df['date_added'] = pd.to_datetime(df['date_added'])
len(df[(df['date_added'].dt.strftime('%Y-%m') == '2018-01') & (df['country'] == 'United Kingdom')])

6