빅데이터 분석기사 5회 실기 기출 유형

[가격 예측] 중고 자동차

자동차 가격을 예측해주세요!

예측할 값(y): price

평가: RMSE (Root Mean Squared Error)

data: train.csv, test.csv

[컴피티션 제출 양식] 리더보드 제출용

제출 형식: submission.csv파일을 아래와 같은 형식(수치형)으로 제출

(id는 test의 index임)

In [1]:
import pandas as pd
train= pd.read_csv('C:/Users/이세은/bigdata/big-data-analytics-certification-kr-2023-5th/train.csv')
test= pd.read_csv('C:/Users/이세은/bigdata/big-data-analytics-certification-kr-2023-5th/test.csv')

In [2]:
train.nunique()

model             19
year              20
price           1443
transmission       3
mileage         3329
fuelType           3
tax               23
mpg               76
engineSize        14
dtype: int64

In [3]:
x_train = train.drop(columns = ['price'])
y = train['price']
x_test = test

In [4]:
x_train_dum = pd.get_dummies(x_train)
x_test_dum = pd.get_dummies(x_test)
x_test_dum = x_test_dum[x_train_dum.columns]

In [5]:
print(x_train_dum.shape, x_test_dum.shape, y.shape)

(3759, 30) (1617, 30) (3759,)

In [6]:
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [7]:
# help(train_test_split)

In [8]:
# help(mean_squared_error)

In [9]:
x_train, x_val, y_train, y_val = train_test_split(x_train_dum, y, test_size = 0.2, random_state = 42)
rf = RandomForestClassifier(random_state = 23)
rf.fit(x_train, y_train)
pred = rf.predict(x_val)
ans = mean_squared_error(y_val, pred)
ans

3064760.664893617

In [10]:
import numpy as np
np.sqrt(ans)

1750.6457851014914

In [11]:
test_pred = rf.predict(x_test_dum)
test_pred

array([15199, 16199, 14280, ...,  9999, 13499,  5995], dtype=int64)

In [12]:
submission= pd.read_csv('C:/Users/이세은/bigdata/big-data-analytics-certification-kr-2023-5th/sample_submission.csv')

In [13]:
submission['price'] = test_pred

In [14]:
submission.head()

   id  price
0   0  15199
1   1  16199
2   2  14280
3   3  19333
4   4   6800

In [15]:
submission.to_csv('submission2.csv', index = False)
pd.read_csv('submission2.csv')

        id  price
0        0  15199
1        1  16199
2        2  14280
3        3  19333
4        4   6800
...    ...    ...
1612  1612  11800
1613  1613  18991
1614  1614   9999
1615  1615  13499
1616  1616   5995

[1617 rows x 2 columns]