In [1]:
import datetime as dt
import pandas as pd

In [2]:
birth = '2001년 4월 29일'

In [3]:
birth = dt.datetime.strptime(birth, '%Y년 %m월 %d일')

In [4]:
birth.weekday()

6

In [5]:
birth.strftime('%A')

'Sunday'

In [6]:
someday = '220718'
someday = dt.datetime.strptime(someday, '%y%m%d')
someday

datetime.datetime(2022, 7, 18, 0, 0)

In [7]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [8]:
df['신고일자'] = df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6)
df['출동일자'] = df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6)

In [9]:
# df['신고일자'] = dt.datetime.strptime(df['신고일자'], '%Y%m%d%H%M%S')

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
df['신고일자'] = pd.to_datetime(df['신고일자'])
df['출동일자'] = pd.to_datetime(df['출동일자'])
df = df.drop(columns = ['신고시각', '출동시각'])

In [15]:
(df['출동일자'] - df['신고일자']).dt.total_seconds()

0       162.0
1       147.0
2       240.0
3       571.0
4       142.0
        ...
2757     60.0
2758    180.0
2759    150.0
2760    164.0
2761    240.0
Length: 2762, dtype: float64

In [17]:
# help(dt)