In [137]:
import warnings
warnings.filterwarnings('ignore')

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv 데이터 출처 : https://bigdata-119.kr/ 데이터 설명 : 소방신고별 신고시각과 출동시각 데이터 컬럼 설명 : 신고일자 (yyyymmdd) / 신고시각 (HHMMSS , 00시 , 00분의 경우 등 생략)

In [29]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   int64
 4   신고시각      2762 non-null   int64
 5   출동일자      2762 non-null   int64
 6   출동시각      2762 non-null   int64
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
dtypes: int64(4), object(5)
memory usage: 194.3+ KB

각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 초(sec)단위로 구하고 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라

In [38]:
df['소요시각'] = (pd.to_datetime(df['출동일자'].astype('str')+df['출동시각'].astype('str').str.zfill(6))\
-pd.to_datetime(df['신고일자'].astype('str')+df['신고시각'].astype('str').str.zfill(6))).dt.total_seconds()

In [62]:
df[['소방서명', '소요시각']].groupby(['소방서명']).mean().sort_values(by='소요시각',ascending = True).iloc[2:3]

        소요시각
소방서명
종로소방서  175.5

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv 데이터 출처 :https://kess.kedi.re.kr/contents/dataset 국내 학교 및 학급 인원 수

In [63]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를 출력하라

In [67]:
df['교원_한명_당_맡은_학생수'] = df['일반학급_학생수_계'] / df['교원수_총계_계']
df

                  학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계  교원_한명_당_맡은_학생수
0     서울대학교사범대학부설고등학교  서울  일반고등학교         689        73        9.438356
1              가락고등학교  서울  일반고등학교         765        70       10.928571
2              개포고등학교  서울  일반고등학교         684        69        9.913043
3              경기고등학교  서울  일반고등학교        1047        96       10.906250
4              경동고등학교  서울  일반고등학교         529        58        9.120690
...               ...  ..     ...         ...       ...             ...
4955            위미중학교  제주   일반중학교          96        15        6.400000
4956            중문중학교  제주   일반중학교         459        42       10.928571
4957            표선중학교  제주   일반중학교         375        35       10.714286
4958            효돈중학교  제주   일반중학교         137        18        7.611111
4959            남주중학교  제주   일반중학교         351        24       14.625000

[4960 rows x 6 columns]

In [66]:
df[df['학교세부유형'] == '일반중학교'].groupby(['시도']).size().sort_values(ascending = False)

시도
경기    659
서울    387
경남    266
경북    266
전남    253
전북    209
충남    186
부산    166
강원    160
인천    143
충북    128
대구    124
광주     90
대전     88
울산     63
제주     45
세종     27
dtype: int64

In [76]:
ans = df[(df['학교세부유형'] == '일반중학교') & (df['시도'] == '서울')].sort_values(by='교원_한명_당_맡은_학생수', ascending = False).iloc[0]

In [78]:
ans.교원수_총계_계

33

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv 5대범죄 발생현황 : https://www.data.go.kr/data/15085721/fileData.do#layer_data_infomation & 후처리

In [81]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

**5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라(1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균) **

In [138]:
df['총범죄수'] = (df['절도'] + df['사기'] + df['배임'] + df['방화']+ df['폭행'])
df['분기'] = '아'
for i in range(0, len(df), 3):
    for j in range(3):
        df['분기'][i] = f'{i+1}분기'
        df['분기'][i+1] = f'{i+1}분기'
        df['분기'][i+2] = f'{i+1}분기'

In [146]:
df[['총범죄수', '분기']].groupby('분기').mean()

              총범죄수
분기
10분기  50481.666667
13분기  53137.333333
16분기  58438.333333
19분기  58334.666667
1분기   49857.666667
22분기  53582.333333
4분기   53462.333333
7분기   55461.666667

In [148]:
df[df['분기'] == '16분기'].사기.max()

27766