건강 상태 분류문제 : https://www.kaggle.com/datasets/alphiree/cardiovascular-diseases-risk-prediction-dataset train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv

예측 변수 General_Health, test.csv에 대해 ID별로 General_Health 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 General_Health 두개만 존재해야함. 평가지표는 f1score

In [2]:
import pandas as pd
import numpy as np

In [6]:
import sklearn.ensemble

In [8]:
# sklearn.ensemble.__all__

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

In [15]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

In [17]:
train.head(5)

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0
2,ID_3079,Good,Within the past year,Yes,No,No,No,Yes,No,Yes,Female,65-69,170.0,65.77,22.71,Yes,12.0,30.0,2.0,0.0
3,ID_15958,Excellent,Within the past year,Yes,No,No,No,No,No,No,Female,40-44,163.0,56.70,21.46,No,24.0,60.0,16.0,3.0
4,ID_11047,Excellent,Within the past year,Yes,No,No,Yes,No,No,No,Male,55-59,185.0,95.25,27.71,Yes,28.0,30.0,30.0,8.0

In [19]:
train.nunique()

ID                              11230
General_Health                      3
Checkup                             5
Exercise                            2
Heart_Disease                       2
Skin_Cancer                         2
Other_Cancer                        2
Depression                          2
Diabetes                            4
Arthritis                           2
Sex                                 2
Age_Category                       13
Height_(cm)                        57
Weight_(kg)                       304
BMI                              1629
Smoking_History                     2
Alcohol_Consumption                30
Fruit_Consumption                  49
Green_Vegetables_Consumption       47
FriedPotato_Consumption            37
dtype: int64

In [20]:
x_train = train.drop(columns = ['ID', 'General_Health'])
x_test = test.drop(columns = ['ID'])
y = train['General_Health']

In [24]:
x_train_dum = pd.get_dummies(x_train)
x_test_dum = pd.get_dummies(x_test)
x_test_dum = x_test_dum[x_train_dum.columns]

In [34]:
x_train, x_val, y_train, y_val = train_test_split(x_train_dum, y, stratify=y, random_state = 42)
model = RandomForestClassifier(random_state = 23)
model.fit(x_train, y_train)
pred = model.predict(x_val)
f1_score(y_val, pred, average = 'micro')

0.5608974358974359

In [29]:
test_pred = model.predict(x_test_dum)
test_pred

array(['Excellent', 'Excellent', 'Good', ..., 'Fair', 'Good', 'Excellent'],
      dtype=object)

In [31]:
pd.DataFrame({'ID' : test.ID, 'General_Health' : test_pred}).to_csv('result18.csv', index = False)
ans = pd.read_csv('result18.csv')

In [32]:
ans

            ID General_Health
0     ID_14547      Excellent
1        ID_26      Excellent
2     ID_14103           Good
3     ID_10946      Excellent
4      ID_1572      Excellent
...        ...            ...
4808  ID_12991      Excellent
4809  ID_13295           Good
4810   ID_2428           Fair
4811  ID_12719           Good
4812  ID_12691      Excellent

[4813 rows x 2 columns]