In [148]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv', index_col = 0)
df.head(1)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01

Q1. 인기 동영상 제작 횟수가 많은 채널 상위 10개명 출력 (날짜기준, 중복 포함) - 다시

In [46]:
df[df['channelId'].isin(df['channelId'].value_counts().head(10).index)].channelTitle.unique()

array(['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널',
       '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV'],
      dtype=object)

Q2. dislikes 수가 like 수보다 높은 동영상 제작 채널 모두 출력

In [50]:
df[df['dislikes'] > df['likes']].channelTitle.unique()

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

Q3. 채널명 바꾼 케이스의 개수

In [65]:
ddf = df[['channelId', 'channelTitle']]
print(ddf.shape)
ddf = ddf.drop_duplicates()
print(ddf.shape)
len(ddf.channelId.value_counts()[(ddf.channelId.value_counts() > 1)])

(60399, 2)
(1843, 2)

71

Q4. 일요일에 인기 있었던 영상들 중 가장 많은 영상 종류(categoryId)

In [66]:
import datetime as dt

In [81]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

In [95]:
df['day'] = df['trending_date2'].dt.strftime('%A')
df[df['day'] == 'Sunday'].categoryId.value_counts().index[0]

24

Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개씩인지 하나의 데이터프레임으로 표현

In [108]:
ddf = df[['day', 'categoryId']].groupby(['day', 'categoryId']).size().to_frame()
ddf

                        0
day       categoryId
Friday    1           243
          2           120
          10          833
          15          187
          17          633
...                   ...
Wednesday 25          468
          26          385
          27          212
          28          165
          29           12

[105 rows x 1 columns]

Q6. viewcount 대비 댓글 수 가 가장 높은 영상 확인 ( view_count 값이 0 인 경우 제외)

In [127]:
import warnings
warnings.filterwarnings('ignore')

In [114]:
ddf = df[df['view_count'] != 0]

In [128]:
ddf['ratio'] = (ddf['comment_count'] / ddf['view_count'])
ddf[(ddf['ratio'] == ddf['ratio'].max())].title

50830    60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
Name: title, dtype: object

Q8. like 대비 dislike 의 수가 가장 적은 영상은? 0인 경우 제외**

In [151]:
ddf = df[((df['dislikes'] & df['likes']) !=0)]

In [152]:
len(ddf)

55573

In [166]:
(ddf['dislikes'] / ddf['likes']).sort_values(ascending = True).index[0]

12168

In [170]:
df.iloc[12168].title

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

Q9. 가장 많은 트렌드 영상을 제작한 채널의 이름은? (날짜 기준, 중복 포함)

In [182]:
df[(df['channelId'] == df['channelId'].value_counts().index[0])].channelTitle.values[0]

'짤툰'

Q10. 2일 이상 인기동영상 리스트에 포함된 동영상의 숫자?

In [227]:
popular = (df['title'].value_counts())
popular = popular.to_frame().reset_index()

In [228]:
# popular = popular.to_frame()
popular.columns = ['title', 'count']

In [240]:
len(popular[popular['count'] > 20])

23

In [249]:
(df[['title', 'channelId']].value_counts() >= 20).sum()

40