help, dir 어디서든 쓰기

## 작업형 1

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

groupby를 2번 할 수 도 있음

In [5]:
df[['RPT', 'VAL']].head(3) #이렇게 묶어놓고 groupby 가능

     RPT    VAL
0  15.04  14.96
1  14.71    NaN
2  18.50  16.88

시간형식으로 바꾸는 방법

In [6]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])

dt.year 이렇게 dt 붙이는거 기억하기

모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을경우 뒤에있는 값으로 대채하라

In [7]:
df = df.fillna(method='ffill').fillna(method='bfill')

## 작업형 2

## 작업형 3